<div class="container" id="about">
      <div class="header">
        <h1>ABOUT ME</h1>
      </div>

      <div class="image_about">
        <img src="img/IMG_7063.jpg" alt="ASRIZAL">
      </div>
      
      <div class="intro column">
        <h3>My Skills</h3>
          <ul id="skill-list">
            <li>Fast learner</li>
            <li>Flexible</li>
            <li>Good Planer</li>
          </ul>
      </div>
      
      <div class="subintro"><h3>Beleving And Love What You Do</h3></div>
        
      <div class="main_text">
            
        <h3>More About Me</h3>
        <p>I was born on September 11, 1978.  I am a third of four children.  My parent is from West Sumatera, but I grown up in Jakarta. After they were married,  they moved to Jakarta. From elementary school until high school, I was in Jakarta. After graduated from a high school,  I moved to west Sumatera to continue my education in university. My father was a government employee and my mother had a restaurant. I was starting to know computer since I was high school. The first program I used were WS on 1994, continue with Lotus. Microsoft became the first operation system that I knew in 1996. In my daily life, I used Microsoft as my support software. Microsoft office, Auto Cad, Primavera, SAP (Structure Analysis Program), Microsoft Project were some example software product that I knew and used. In the university, one of my syllabus is computer science that focusing on programming. we used FORTRAN to learn and to make a simple program. I had a big interest in programming those days but seem the opportunity not bring me to that kind of field.</p>  
            
        <p>I love to learn a new thing. After seeing so many opinion, I think learning how to code and make a program will give me so many advantage. In my opinion, in the future programing will effect so many thing in life.  My goal is that i could build a program that releted with my major (civil engineering) and a simple mobil application that connected with my interest.</p>
              
      </div>