<h1>Usermailer#contact_form</h1>
<p>Find me in app/views/usermailer/contact_form.html.erb</p>
<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>