// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
    height: 100%;
    overflow: hidden;
    padding-top: 20px;
}

.my-own-style {
    margin-left: 37px;
    margin-top: 20px;
}

.scroll {
    overflow: auto;
    height: 80%;
    padding: 0;
    margin-left: 37px;
}